<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<listeners>
		<listener class-name="hybrid.listeners" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>

	<test name="Login Iteration Test">
		<classes>
			<class name="hybrid.MainTest" />
		</classes>
	</test>
	<test name="Naviagtion valldating">
		<classes>
			<class name="hybrid.validationNav" />
		</classes>
	</test>
	<test name="Heading Assertion">
		<classes>
			<class name="hybrid.AssertionTestHeading" />
		</classes>
	</test>
</suite> 
